<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154006648044-4ff2h07ca8bbi3m1grv6dvna0iobou0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154006648044-4ff2h07ca8bbi3m1grv6dvna0iobou0h</string>
	<key>API_KEY</key>
	<string>AIzaSyBfZmvwRuqgG28MYWTKAgXymH3PELppbJg</string>
	<key>GCM_SENDER_ID</key>
	<string>154006648044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-64174</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-64174.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154006648044:ios:d7d48de08034e0228921c9</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-64174.firebaseio.com</string>
</dict>
</plist>